* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  padding-top: 10vw;
}
img {
  width: 50vw;
  height: auto;
}
.container {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5vw;
}
.container div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1vw;
}
h1 {
  text-align: center;
  color: black;
  font-size: 2.5vw;
}
p {
  font-size: 2.5vw;
}
.bold {
  font-size: 3vw;
  color: black;
  font-weight: bold;
}
.benefits {
  margin-top: 0vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0;
}
.benefits p {
  font-size: 2.5vw;
  line-height: 1;
  text-align: start;
}
